.featurs{
    background-color: rgb(229, 232, 235);
    margin:50px 0 ;
    padding: 100px 0;
    margin-bottom:0 ;
}
.text-start h1{
    text-align: left !important;
}
/*--------- slider/// */
.swiper {
    position: relative !important;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* paddi: 50px; */
  }
  .about-sub-title{
      color: #777;
      font-weight: 600;
      font-size: large;
  }
  
  .swiper-slide {
      margin-top: 90px;
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    backface-visibility: hidden;
  }

  .slider-card-img::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.712);
      left:0;
      top: 0;
  }
/* -------------------slider end/   */

/* slider card// */
.slider-card{
    position: relative;
    overflow: hidden;
}
.card-img-slider{
    transition: 5s;
}
.slider-card:hover .card-img-slider{
    transform: scale(1.2);
    transition: 5s ease;
}
.slider-card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.464);
    left: 0;
    top: 0;
    transition: .5s;
    z-index: 0;
    display: block;
}
.slider-text-div{
    text-align: left;
    padding-right: 50px;
    padding-left: 20px;
    transition: 1s ease-in-out .5s;
    position: absolute;
    bottom:-200px;
    transition: .5s ease;
    z-index: 1;
}
.slider-text-div p{
  min-height: 150px;
}
.card-heading{
    font-weight: 800;
    font-size: 35px;
    text-align: left;
}

 .card-name{
    margin-bottom: 180px;
    transition: .5s ease;
}
.slider-card:hover .card-name,
.slider-card:hover .slider-text-div {
    margin-bottom: 40px;
    bottom:100px;
    transition: .5s ease-in-out;
    display: block;
}

.btn-position{
    position: absolute;
    bottom:20px;
    left: 20px;
    border: 2px solid #fff;
}
.swiper-button-prev:after {
    /* font-family: swiper-icons; */
    position: absolute !important;
    content: "←" !important;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    color:#000 !important;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 5px;
    font-variant: initial;
    line-height:1;
    border: 2px solid #000;
    height: 60px;
    width: 60px;
    padding-bottom: 8px;
    left: 5% !important;
    top: -320px;
}
.swiper-button-next:after {
    /* font-family: swiper-icons; */
    position: absolute !important;
    content: "→" !important;
    color:#000 !important;
    font-weight: 800;
    background-color: #fff;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 5px;
    font-variant: initial;
    line-height:1;
    border: 2px solid #000;
    height: 60px;
    width: 60px;
    padding-bottom: 8px;
    right: 65vw;
    margin-right: 5% !important;

    top: -320px;
}


/* animation button secondary// */
.btn-secondary {
    padding: 10px 50px;
    z-index: 1;
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
    background-color: transparent;
  }
  
  .btn-secondary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(7, 76, 122);
    border-color: rgb(7, 76, 122);
    border-radius: 0;
    z-index: -1;
    transition: 0.4s;
  }
  .btn-secondary:hover::after {
    width: 100%;
  }
  @media only screen and (max-width:979px){
    .swiper-button-prev:after {
        height: 45px;
        width: 45px;
        font-size:35px ;
        top: -304px;
        padding-right: 5px;
        padding-top: 0;
        padding-left: 2px;
    }
    .swiper-button-next:after {
        height: 45px;
        width: 45px;
        font-size:35px ;
        top: -304px;
        padding-right: 5px;
        padding-top: 0;
        padding-left: 2px;
        right: 60vw;
    }
  }