*{
  text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 17px;
  color: #fff;
  line-height: 1.6;
  /* position: absolute/; */
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

section h1 {
  font-size: 4rem;
}

/* .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  
  #showcase {
    background: url("https://edisonrealestatebd.com/admin/uploads/page/home-slider/1636368269TRK5B.jpg")
        400vw 0 no-repeat,
      url("https://edisonrealestatebd.com/admin/uploads/page/home-slider/1636368222aLL3t.jpg")
        300vw 0 no-repeat,
      url("https://edisonrealestatebd.com/admin/uploads/page/home-slider/16363684923FlPK.jpg")
        200vw 0 no-repeat,
      url("https://edisonrealestatebd.com/admin/uploads/page/home-slider/1619413236IHUZi.jpg")
        100vw 0 no-repeat,
      url("https://edisonrealestatebd.com/admin/uploads/page/home-slider/1636368269TRK5B.jpg")
        0 0 no-repeat;
    background-size: cover, cover, cover, cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    animation: slide-right 15s forwards 2s infinite;
  }

  @keyframes slide-right {
    0% {
      background-position: 100vw 0, 100vw 0, 100vw 0, 0 0;
      
    }
    33% {

      background-position: 100vw 0, 100vw 0, 0 0, 0 0;
    }
    66% {

      background-position: 100vw 0, 0 0, 0 0, 0 0;
    }
    100% {

      background-position: 0 0, 0 0, 0 0;
    }
  }
  
  #showcase h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  
  #showcase p {
    font-size: 20px;
    color: #fff;
  }
  
  #showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .main-section div.iScrollIndicator {
    background: white !important;
  }
  
  .navbar {
    position: fixed;
  
    top: 0;
  
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(57, 77, 95, 0.7);
    z-index: 2;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 10px;
    padding: 5px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 30px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .buttons .button {
    margin: 10px;
    display: grid;
    place-items: center;
  } */

  /* slider Nave// */
  .slider-nave{
    display: flex;
    height: 60px;
    background-color: #000000a2;
    position: absolute;
    width: 100%;
    top: 80vh;
    align-items: center;
    padding: 0 100px;
  }
  .silde-nave-1{
    color: #f4f4f4 !important;
    font-weight: 800;
    font-size: 20px;
  }
  .silde-nave-1 i{
    color: #fff;
    font-size: 20px;
  }
  #silde-nave-1{
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
  }
  .slide-nav-items{
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    margin-left: 20px;

  }
  @media only screen and (max-width:979px){
    .slider-nave{
      display: none;
    }
  }

  /* slider/// */
  .slider-top-banner{
    /* height: 100vh; */
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }
  .banner-1, .banner-2, banner-3 , banner-4{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
  .banner-1 img{
    width: 120%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
  }
  .slide-inner-text{
    width: 60%;
    position: absolute;
    top: 50vh;
    color: #f4f4f4;
    left: 100px;
    text-align: left;
  }
  .slide-inner-text h1{
    background-color: #0000008e;
    margin-bottom: 50px;
  }
  .slide-inner-text p{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    background-color: #0000008e;
  }
  /* .slide-inner-text h1{
    width: 600px;
    position: absolute;
    top: 200px;
    color: #f4f4f4;
    left: 100%;
  } */
  /* banner-4 */
  .banner-1{
    animation: slide1 12s liner infinite;
  }
  .banner-2{
    animation: slide2 12s liner infinite;
  }
  .banner-3{
    animation: slider3 12s liner infinite;
  }
  .banner-4{
    animation: slider4 12s liner infinite;
  }
  @keyframes slide1{
    0%{
      visibility: visible;
    }
  }




  /* new videw slider// */
  
.banner-heading{
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.1;

}
.banner-heading p{
 width: 60%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 50px;
 text-align: center;
 font-weight: 800;
}
@media only screen and (max-width:979px) {
  .banner-heading p{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
   }
}


.svg-text {
  position: relative;
  /* display: block; */
  font:'Montserrat';
  /* width: 600px; */
  height: 100%;
  margin: auto auto;
  top: 25vh;
  background-color: rgba(0, 0, 0, 0.389);
  font-size: 50px;
  
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #d1bbbb;
animation-delay: 1s;
}

.text-copy:nth-child(2){
stroke: #d2a757;
animation-delay: -3s;
}

.text-copy:nth-child(3){
stroke: #dcd5c0;
animation-delay: -4s;
}

.text-copy:nth-child(4){
stroke: #FDB731;
animation-delay: -5s;
}

.text-copy:nth-child(5){
stroke: #dcd5c0;
animation-delay: -6s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}

@media only screen and (max-width:979px) {
  .svg-text {
  
    display: block;
    font: 70px 'Montserrat';
    width: auto;
    height: auto;
    top: 20vh;
    padding: 20px 0;
  }
}