@import url("http://fonts.cdnfonts.com/css/sofia-pro");
.modal-three-Card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-modal-img{
  width: 100%;
}
/* .modal-image{
    height: 30rem;
} */
/* .modal-text h1{
    font-family:'sofia-pro';
    font-size: 30px;
    font-weight: 800;
}
.modal-text p{
    font-family:'sofia-pro';
    font-size: 20px;
    font-weight: 800;
} */

/* .modal-text:before{
    content: '';
    background: #09008a;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
} */
/* .modal-text:hover{
  
    background-position: 0;
} */
.modal-text:hover::before{
    width: 100%;
    
}

  /* .modal-explore-btn{
      font-size: large;
      font-weight: 7000;
      color:#fff;
      background-color: transparent;
      position: absolute;
      bottom: 60px;
      border: 2px solid #fff;
      padding: 5px;
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.562);
      left: 20px;
  } */
  .modal-explore-btn:hover{
      background-color: #09008a9f;
      transition: .5s;
  }
  .modal-card-col{
    overflow: hidden;
  }
  /* .modal-image{
    transition: transform 2s;
  } */
  /* .modal-image:hover {
  -ms-transform: scale(1.3); 
  -webkit-transform: scale(1.3); 
   transform: scale(1.3); 
  } */

/* //modal style// */


.modal-card-col{
  width: auto;
}

.ReactModal__Content{
  position: absolute !important;
  top: 80px !important;
  padding-top: 50px !important;
  margin: 10px 60px !important;
  /* margin: 40px !important; */
}
/*  */
.modal-allExplore-btn{
  background-color: transparent;
 padding: 8px 20px;
 font-weight: 600;
 outline: none;
 border: 2px solid #000;
 transition: 1s;
}
.modal-allExplore-btn:hover{
  background-color:rgb(41, 102, 176);
  color: #fff;
  transition: 1s;
}
 @media only screen and (max-width:768px){
  .modal-text{
    font-size: 35x !important;
  }
  .modal-image{
    width:100%;
  }
  .ReactModal__Content {
    position: absolute !important;
    top: 80px !important;
    /* padding: 20px !important; */
    margin: 0 auto !important;
    /* margin: 40px !important; */
    width: 95% !important;
    left: 2.5% !important;
    top: 65px !important;
}
 }