@import url("http://fonts.cdnfonts.com/css/sofia-pro");
.modal-image{
    height: 30rem;
}
.modal-text{
    position: absolute;
    bottom: 150px;
    left: 20px;
         background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        rgb(255, 247, 247) 100%
      );
}
.modal-text h1{
    font-family:'sofia-pro';
    font-size: 30px;
    font-weight: 800;
}
.modal-text p{
    font-family:'sofia-pro';
    font-size: 20px;
    font-weight: 800;
    /* background-color: rgba(0, 0, 0, 0.425) !important; */
}
.modal-text{
    
    background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
}
.modal-text{
    
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.modal-text:before{
    content: '';
    background: #09008a;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}
.modal-text:hover{
  
    background-position: 0;
}
.modal-text:hover::before{
    width: 100%;
    
}
.modal-text {
   
    background-image: linear-gradient(
      to right,
      #0a0064,
      #0c14f4 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .modal-explore-btn{
      font-size: large;
      font-weight: 7000;
      color:#fff;
      background-color: transparent;
      position: absolute;
      bottom: 60px;
      border: 2px solid #fff;
      padding: 5px;
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.562);
      left: 20px;
  }
  .modal-explore-btn:hover{
      background-color: #09008a9f;
      transition: .5s;
  }
  .modal-card-col{
    overflow: hidden;
  }
  .modal-image{
    transition: transform 2s;
  }
  .modal-image:hover {
  -ms-transform: scale(1.3); 
  -webkit-transform: scale(1.3); 
   transform: scale(1.3); 
  }

/* //modal style// */





/*  */

 @media only screen and (max-width:768px){
  .modal-text h1{
    font-size: 25x;
  }
  .modal-image{
    width:100%;
  }
 }