@import url("http://fonts.cdnfonts.com/css/sofia-pro");
body {
  font-family: "Sofia Pro";
}

.nav-wraper{
  background-color: rgba(24, 20, 20, 0.485) !important;
  width: 100% !important;
  position: fixed;
  height: 100% !important ;
  
}
.navbar{
background-color: rgba(0, 0, 0, 0.51) !important;
height: 80px !important; 
}
.manu-icon{
  position: static;
}
.brand-logo{
  width: 12%;
  background-color: aliceblue;
}
@media only screen and (max-width:979px){
  .brand-logo{
    width: 20%;
    background-color: aliceblue;
  }
}
@media only screen and (max-width:779px){
  .brand-logo{
    width: 25%;
    background-color: aliceblue;
    
  }
  .navbar{
    background-color: rgba(0, 0, 0, 0.51) !important;
    height: 65px !important; 
    }
}
@media only screen and (max-width:500px){
  .brand-logo{
    width: 40%;
    background-color: aliceblue;
  }
}