@import url("http://fonts.cdnfonts.com/css/sofia-pro");
body {
  font-family: "Sofia Pro";
}

.nav-wraper{
  background-color: rgba(24, 20, 20, 0.485) !important;
  width: 100% !important;
  position: fixed;
  height: 100% !important ;
  
}
.navbar{
background-color: rgba(0, 0, 0, 0.51) !important;
height: 80px !important; 
}
.manu-icon{
  position: static;
}