.details-wraper{
    display: flex;
    color:#000;
    position: relative;
}
.details-left{
    height: 100vh;
    width: 50%;
}
.details-right{
    width: 50%;
    height: 100vh;
    overflow-y: scroll;  
    -ms-overflow-style: none;
  scrollbar-width: none; 
}
.details-right::-webkit-scrollbar {
    display: none;
  }
.details-left-img{
    width: 100%;
    max-height: 100vh;
}
.progress-wraper{
    background-color: #ddd;
    padding: 100px;
}
.project-overView{
 padding: 100px;
}
.progress-point{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:992px) {
    .details-wraper{
        flex-direction: column;
    }
    .details-left{
        width: 100%;
        height: auto;
    }
    .details-right{
        height:auto;
        overflow:visible;
        width: 100%;
    }
    .progress-wraper{
       padding: 5%;
    }
    .project-overView{
     padding:5%;
    }
    .details-left-img{
        width: 100%;
    }
}
