.management-team{
    background-color: rgb(245, 241, 241);
    padding: 80px 0;
}
.managing-team-profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profile-img{
    max-width: 320px;
    max-height: 340px;
}
.porfile-card{
    position: relative;
}
.designation{
 position: absolute;
 bottom: 20px;
 left: 10px;
}
@media only screen and (max-width:762px){
    .management-team{
        padding: 50px 15px;
    }
    .managing-team-profile{
      flex-direction: column;
    }
    .profile-img{
        max-width: 310px;
        max-height: 320px;
        margin:20px 0;
    }
}