.footer{
    background-image: url('https://edisonrealestatebd.com/themes/cms/assets/images/static/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.footer-top{
  
}